<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--add code about new servlet-->
    <servlet>
        <servlet-name>kugai</servlet-name>
        <servlet-class>com.zengxiaoqian.week2.demo.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kugai</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.zengxiaoqian.week3.demo.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCemoServlet</servlet-name>
        <servlet-class>com.zengxiaoqian.week4.demo.JDBCemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDBCemoServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.zengxiaoqian.week6.demo.JDBCServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost:1433;database=userdb;enrypt=false</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>la</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456789</param-value>
    </context-param>
   <!-- <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>com.zengxiaoqian.week4.demo.ConfigDemoServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>zengxiaoqian</param-value>
        </init-param>
        <init-param>
            <param-name>studentid</param-name>
            <param-value>2020211001001301</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>-->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

</web-app>